#mainContainer {
  display: flex;
  flex-direction: row;
  background: rgba(128, 128, 128, 0.192);
  margin: 50px;
  min-height: 600px;
}

#leftPanel {
  width: 70%;  
  /* border-style: solid;
  border-width: 1px;
  border-color: gray; */
  display: flex;
  justify-content: center;
  /* background-image: url('../assets/space.gif'); */
  background: white;
}

#rightPanel {
  width: 30%;
  color: white;  
  /* border-style: solid;
  border-width: 1px;
  border-color: gray; */
  padding-left: 20px;
  background-image: linear-gradient(to bottom right, #2e0638, #4e4646);
  
}  

body {
  background-color:black;
}
