#mainContainer {
  display: flex;
  flex-direction: row;
  background: rgba(128, 128, 128, 0.192);
  margin: 50px;
  min-height: 600px;
}

#leftPanel {
  width: 70%;  
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  display: flex;
  justify-content: center;
  
}

#rightPanel {
  width: 30%;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  
}  
