.main-container {
  display: flex;
  flex-direction: row;
  background: rgba(128, 128, 128, 0.192);
  margin: 50px;
}

.left-panel {
  width: 70%;  
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  
}

.right-panel {
  width: 30%;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  
}  
